@use "./root-vars" as *

@font-face
  font-family: "Outfit-VariableFont"
  src: url("#{$font-path}outfit/Outfit-VariableFont_wght.ttf") format("truetype")

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: Outfit-VariableFont
  letter-spacing: 0.02rem

// HTML Configurations
:root
  overflow: hidden
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%
