@use "../../../../root-vars" as *
@use "../../../../root-mixin" as *

#User
    #User-Kasir
        #Item-Header
            @include flex-center
            padding: 0 $scrollbar-width 0 0.15rem
            background-color: #e1e1e1

            // Set font style globally
            font-weight: 500
            font-size: 0.9rem

            #Nama
                width: 100%

            #Alamat
                @include padx(0.15rem)
                width: 50vw

            #Online
                text-align: center
                width: 10vw

            #Tlp
                @include padx(0.15rem)
                width: 20vw
                text-align: right

        #Item-Container
            width: 100%
            height: 96vh

            #Empty-Message
                width: 100%
                line-height: 95vh
                text-align: center
                color: #7a7a7a

            .Item
                @include flex-center
                padding: 0 0.05rem 0 0.15rem

                // Set font style globally
                font-weight: 300
                font-size: 0.9rem

                &:hover
                    background-color: $secondary-color

                .Tooltip
                    .Tooltip-Image
                        width: 5vw
                        height: 5vw
                        background-repeat: no-repeat
                        background-position: center
                        background-size: cover

                    .Tootip-Item
                        @include flex-center()

                        .Key
                            width: 7vw

                .Nama
                    width: 100%
                    user-select: none

                .Alamat
                    @include padx(0.15rem)
                    width: 50vw

                .Online
                    @include flex-just-center
                    width: 10vw

                    span
                        width: 0.9vw
                        height: 0.9vw
                        border-radius: 2vw
                        display: block

                        &:is(.Yes)
                            background-color: #53eead

                        &:is(.No)
                            background-color: #ee5368

                .Tlp
                    @include padx(0.15rem)
                    width: 20vw
                    text-align: right

        .Add-New-Btn
            position: absolute
            bottom: 3vh
            right: 2vw
            cursor: pointer
            color: $primary-color

            &:hover
                color: #000
