// @use "../../../../root-vars" as *
@use "../../../../root-mixin" as *

#User
    #User-Kasir
        #Item-Container
            .Item
                @include flex-center
                padding: 0 0.05rem 0 0.15rem

                // Set font style globally
                font-weight: 300
                font-size: 0.9rem

                &:hover
                    &:not(.Item-Selected)
                        background-color: #c5c5c5

                .Nama
                    width: 100%
                    user-select: none

                .Alamat
                    @include padx(0.15rem)
                    width: 50vw

                .Status
                    @include flex-just-center
                    width: 20vw

                    span
                        width: 0.9vw
                        height: 0.9vw
                        border-radius: 2vw
                        display: block

                        &:nth-last-child(1)
                            margin-left: 0.2rem

                        &:is(.Online)
                            background-color: #53eead

                        &:is(.Offline)
                            background-color: #acacac

                        &:is(.Active)
                            background-color: #5377ee

                        &:is(.Not-Active)
                            background-color: #ee5353

                .Tlp
                    @include padx(0.15rem)
                    width: 20vw
                    text-align: right

            .Item-Selected
                background-color: #d7ff8d
